.GoBackButton {
  display: inline-block;
  width: 89px;
  height: 42px;
  border-radius: 3px;
  background-color: #1be5a8;
  color: #ffffff;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
  border: none;
}
